[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cheeky/Desktop/steam.desktop]
row=5
col=0

[/home/cheeky/Desktop/FTL Faster Than Light.desktop]
row=1
col=1

[/home/cheeky/Desktop/Terraria.desktop]
row=2
col=1

[eb7aa133-702e-4425-8cb1-4e1a504e0343]
row=2
col=0

[7C78986A78982544]
row=0
col=1

[60bb7265-96db-41e1-a021-a71c76f87b44]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/cheeky]
row=4
col=0

